/**********************************************************
   Add Google Fonts
**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital@0;1');


/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.288) inset;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-red);
}

::-webkit-scrollbar-button {
  background-color: var(--black);
}

html {
  font-size: 62.5%;
  /* Now 1rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}


/**********************************************************
  Reset Default Properties End
**********************************************************/


/********************************************************
   Variables Start
********************************************************/
:root {
  --white: #fff;
  --dark-red: #c53f21;
  --black: #000;
  --font-family-1: 'Lato', sans-serif;
  --font-family-2: 'Roboto', sans-serif;
}

/**********************************************************
  Variables End
**********************************************************/




/**********************************************************
  Common Properties to Frequently Used Elements Start
**********************************************************/
li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--white);
  font-family: var(--font-family-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-1);
}

p {
  font-family: var(--font-family-2);
}

img {
  width: 100%;
}

button {
  border: none;
  background-color: var(--dark-red);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  color: var(--white);
  font-family: var(--font-family-1);
  transition: all 0.2s linear;
  cursor: pointer;
  border: 2px solid transparent
}

@media (hover:hover) {
  button:hover {
    background-color: transparent;
    border: 2px solid var(--dark-red);
    color: var(--dark-red);
  }
}

input,
textarea {
  outline: none;
}


/**********************************************************
  Common Properties to Frequently Used Elements End
**********************************************************/


/**********************************************************
  Frequently Used Components In This Website Start
**********************************************************/

/*********************************************************
   Section Header (Heading And Info) Start
**********************************************************/
.section-head-info {
  text-align: center;
  margin-bottom: 5rem;
}

.section-head-info h1 {
  margin-bottom: 0.8rem;
  font-size: 3rem;
  color: var(--black)
}

.section-head-info p {
  font-size: 1.8rem;
  color: var(--dark-red);
}

/**********************************************************
Frequently Used Components In This Website End
**********************************************************/



/***********************************************************************************************
  Actual Document Styling Start
***********************************************************************************************/

/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100vw;
  height: auto;
}


/**********************************************************
  Header Start
**********************************************************/
#header {
  min-height: 100vh;
  background: url("../Assets/Images/bg1.jpeg") no-repeat fixed center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

/**********************************************************
  Navbar Start
**********************************************************/
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

/**********************************************************
  Logo Start
**********************************************************/
.logo h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--white);
}

/**********************************************************
  Menubar Start
**********************************************************/
.menubar {
  width: 50%;
}

.menubar ul li a {
  font-size: 2rem;
  padding: 1rem 2rem;
}

@media (hover:hover) {

  .menubar ul li a:hover,
  .menubar ul li:first-child a {
    background-color: var(--dark-red);
    color: var(--white);
  }
}


/**********************************************************
  Toggle Button On Mobiles Start
**********************************************************/
.toggle {
  display: none;
  color: var(--white);
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 5px solid var(--dark-red);
  border-radius: 5px;
  right: 0;
  font-size: 5rem;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

/**********************************************************
  Navbar End
**********************************************************/


/**********************************************************
  Header Left Start
**********************************************************/
.header-inner-left {
  padding-top: 12rem;
}

.header-inner-left p {
  color: var(--dark-red);
  margin: 1.5rem 0;
  font-size: 2rem;
}

.header-inner-left h1 {
  color: var(--white);
  font-size: 5rem;
}

.header-inner-left .change-text-p {
  color: var(--white);
}

.header-inner-left .change-text-p::after {
  content: "";
  animation: change-text 6s linear alternate infinite;
  color: var(--dark-red);
}


/**********************************************************
  Header Right Start
**********************************************************/
.header-inner-right {
  text-align: right;
  flex-basis: 50%;
}

.header-inner-right img {
  width: 80%;
  height: 60rem;
}

/**********************************************************
  Header End
**********************************************************/


/**********************************************************
  About Section Start
**********************************************************/

/**********************************************************
  About Left Start
**********************************************************/
.about-inner-left {
  flex-basis: 50%;
  height: 60rem;
}

.about-inner-left img {
  height: 100%;
}

/**********************************************************
  About Right Start
**********************************************************/
.about-inner-right {
  padding-top: 14rem;
}

.about-inner-right h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-inner-right p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/**********************************************************
  About Section End
**********************************************************/


/**********************************************************
  Skills Section Start
**********************************************************/
#skills {
  background-image: url("../Assets/Images/bg2.jpg");
}

#skills .section-head-info h1 {
  color: var(--white);
}

.skills-inner-row {
  margin: 1rem 0;
  padding: 5rem;
  background-color: var(--dark-red);
  color: var(--white);
  border: 1px solid var(--white);
}

/**********************************************************
  Skills Left Start
**********************************************************/
.skills-inner-left {
  padding-top: 1.5rem;
}

.skills-inner-left button {
  background-color: var(--white);
  color: var(--dark-red);
}

@media (hover:hover) {
  .skills-inner-left button:hover {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
  }
}

.skills-inner-left h5 span {
  color: var(--black);
}

/**********************************************************
  Skills Right Start
**********************************************************/
.skills-inner-right {
  flex-basis: 40%;
}

.skills-inner-right .skill-1 {
  margin-bottom: 1.5rem;
}

.skills-inner-right label {
  text-transform: uppercase;
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  color: var(--white);
}

.skills-inner-right progress {
  margin-top: 0.8rem;
  height: 1.8rem;
  width: 90%;
  margin-right: 5px;
}

.skills-inner-right span {
  color: var(--white);
  font-size: var(--font-family-1);
  font-size: 1.4rem;
}

/**********************************************************
  Skills Section End
**********************************************************/


/**********************************************************
  Services Section Start
**********************************************************/

/**********************************************************
  Services Box
**********************************************************/
.service-1 {
  padding: 1.3rem 1rem;
  flex-basis: 27%;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
  position: relative;
  transition: all 0.5s linear;
  cursor: pointer;
}

.service-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  background-color: var(--dark-red);
  transition: all 0.6s linear;
  z-index: -1;
}

@media (hover:hover) {
  .service-1:hover::before {
    height: 100%;
  }

  .service-1:hover {
    color: var(--white);
  }
}

.service-1 img {
  width: 80%;
}

.service-1 h2 {
  margin: 1rem 0 1.5rem 0;
  font-size: 2rem;
}

.service-1 p {
  font-size: 1.5rem;
}

/**********************************************************
  Services Section End
**********************************************************/


/**********************************************************
  Contact Section Start
**********************************************************/
#contact {
  background-image: linear-gradient(52deg, var(--dark-red) 50%, var(--white) 50%);
}

/**********************************************************
  Contact Left
**********************************************************/
.contact-inner-left img {
  border: 2px solid var(--black);
}

.contact-inner-left,
.contact-inner-right {
  flex-basis: 40%;
}

/**********************************************************
  Contact Right
**********************************************************/
.contact-inner-right {
  text-align: center;
}

.contact-inner-right h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.contact-inner-right input,
.contact-inner-right textarea {
  padding: 1rem;
  width: 60%;
  margin-top: 1rem;
}



/**********************************************************
  Contact Section End
**********************************************************/


/*********************************************************
   Footer Start
*********************************************************/
footer {
  margin-top: 2rem;
  background-color: var(--black);
  text-align: center;
  color: var(--white);
  padding: 2rem;
}

footer img {
  width: 8rem;
  margin-bottom: 1rem;
}

footer h1 {
  margin-bottom: 0.8rem;
  font-size: 2.5rem
}

/*********************************************************
   Footer End
*********************************************************/


/**********************************************************
  Keyframes For Animations Start
**********************************************************/

/**********************************************************
  Keyframes For Change Text Of Hero Section
**********************************************************/
@keyframes change-text {
  0% {
    content: "Frontend-Developer";
  }

  50% {
    content: "Backend-Developer";
  }

  100% {
    content: "Youtuber";
  }
}

/**********************************************************
  Keyframes For Animations End
**********************************************************/



/***********************************************************************************************
  Actual Document Styling End
***********************************************************************************************/